table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
td:nth-child(odd){
  background-color: aliceblue;
}
td, th {
  border: 2px slategray solid;
  padding: 1em;
  text-align: right;
}
th{
  background-color: lightgray;
}
td.total, th.total{
  background-color: lightgreen;
}
